<?xml version="1.0" ?>
<robot name="cfrp" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <link name="base_footprint"/>
        <link name="base_link">
            <visual>
                <origin xyz="0.0 0 0.0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.1 0.1 0.0025"/>
                </geometry>
                <material name="black"/>
            </visual>
            <collision>
                <origin xyz="0.0 0 0.0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.1 0.1 0.0025"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="1"/>
                <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
            </inertial>
        </link>
    <joint name="base_footprint_fixed" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="base_footprint"/>
        <child link="base_link"/>
    </joint>
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/${prefix}</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>  
</robot>